.profile-container{

    display:flex;
    justify-content:center;
    margin:40px;
}

.profile-card{

    width:650px;
    background:#fff;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    overflow:hidden;
}

.profile-header{

    background:#00B894;
    color:#fff;
    text-align:center;
    padding:35px;
}

.profile-header img{

    width:130px;
    height:130px;
    border-radius:50%;
    border:5px solid white;
}

.profile-header h2{

    margin-top:15px;
}

.profile-header span{

    background:white;
    color:#00B894;
    padding:5px 18px;
    border-radius:20px;
    font-weight:bold;
}

form{

    padding:30px;
}

.form-group{

    display:flex;
    flex-direction:column;
    margin-bottom:18px;
}

label{

    margin-bottom:8px;
    font-weight:600;
}

input,
textarea,
select{

    padding:12px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:15px;
}

input:read-only{

    background:#f5f5f5;
}

textarea{

    resize:none;
    height:100px;
}

.save-btn{

    width:100%;
    background:#00B894;
    color:white;
    padding:14px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.save-btn:hover{

    background:#019875;
}